# --------------------------------------------
# Windows Files
# --------------------------------------------
Thumbs.db

# --------------------------------------------
# Mac Files
# --------------------------------------------
.DS_Store*
._.DS_Store

# --------------------------------------------
# Backup files
# --------------------------------------------
*~
.gitignore~
# --------------------------------------------
# Aptana and Eclipse files
# --------------------------------------------
.project
.pydevproject
.settings
.metadata
.metadata/

# --------------------------------------------
# vox local
# --------------------------------------------
c4rd4m0m/
c4n3l4/
beginners-guide*/
beginners_guide*/
sandbox/
demos/assets/models/brain/dti/*.json
demos/assets/models/brain/dti/*.vtk
# --------------------------------------------
# Other files
# --------------------------------------------
*.pyc
*.obj
*.tmpl
*.bak
