# --------------------------------------------
# Windows Files
# --------------------------------------------
Thumbs.db

# --------------------------------------------
# Mac Files
# --------------------------------------------
.DS_Store*
._.DS_Store

# --------------------------------------------
# Backup files
# --------------------------------------------
*~

# --------------------------------------------
# Aptana and Eclipse files
# --------------------------------------------
.project
.pydevproject
.settings
.metadata
.metadata/

# --------------------------------------------
# Other files
# --------------------------------------------
c4rd4m0m/
c4n3l4/
beginners-guide*/
beginners_guide*/
*.pyc
