/*div, img{border:1px dashed rgb(0,0,0);} /*debug*/

#top{
    position:relative;
	height:140px;
    width:100%;
    margin-bottom:20px;
}

.title {
    padding:0%;
    margin:0px;
    text-align:center;
}


#contents{
	margin:0px; 
	position:relative; 
	top:5x; 
	left:0px; 
	width:100%; 
	height:400px; 
	z-index:0;
}

#codeContainer{
	margin:0px; 
	position:absolute; 
	top:0px; 
	left:0px; 
	overflow:auto; 
	width:60%; 
	height:400px; 
	z-index:100;
}

#canvasContainer{
	margin:0px; 
    position:absolute; 
    top:0px; 
    right:0px; 
    width:39%; 
    height:400px; 
    display:none;
}

#buttons{
	position:relative; 
	top:5px; 
	left:0px; 
	height:40px;
}

#buttonsCode{
	position:relative; 
	top:0px; 
	left:0px; 
	width:60%;
}

#buttonsCanvas{
	position:absolute; 
	top:0px; 
	right:0px; 
	width:40%; 
	text-align:right; 
	z-index:101;
}

#bottom{
    clear:both;
	margin-bottom:0px; 
	z-index:102;
}


canvas{
      cursor: move;
    }