/*----------------------------------------------------------------------------- 
 Web Fonts
------------------------------------------------------------------------------*/

@font-face {
    font-family: Eurofurence;
    font-style:italic;
    src: url(font/eurof56.ttf) format("truetype");
}

@font-face {
    font-family: Eurofurence;
    font-weight:normal;
    src: url(font/eurof55.ttf) format("truetype");
}

@font-face {
    font-family: Eurofurence;
    font-weight:bold;
    src: url(font/eurof75.ttf) format("truetype");

}

.euro { 
    font-family: Eurofurence, Arial;
    font-weight:normal;
}

.euro-bold {
    font-family: Eurofurence, Arial;
    font-weight: bold;
}

.euro-italic{
    font-family: Eurofurence, Arial;
    font-style:italic;
}

/*----------------------------------------------------------------------------- 
 Colors
------------------------------------------------------------------------------*/

.dodgerblue4 {
background:#104E8B;
}

.dodgerblue3{
background:#1874CD;
}

.azurean {
background:#00A9E0;
}

.lucyinthesky{
background: #67CDDC;
}

.saladinthewarrior {
background:#3B3B3D;
}

.mcgray{
background: #292929;
}

.beigecream{
background:#EDEAE3;
}
.christmasg{
background:#51B406;
}

.kickstarter{
background:#86C543;
}

.fallhard{
background:#FF7F21;
}

.vitaminc{
background: #FF9900;
}

.buttery{
background:#FFEE6B;
}
.bc{
background:#bcbcbc;
}

.blush{
background:#D63236;
}

.tile {
    width:140px;
    height:70px;
    background-image:url(pixel.gif);
}

/*----------------------------------------------------------------------------- 
 BODY
------------------------------------------------------------------------------*/
body {	
	font-size:	    1em;
	font-weight:	normal;
	text-transform:	none;
	font-family:	"Trebuchet MS", sans-serif;
	font-size-adjust:	.48;
    line-height:	1.58em;
    color:	        #292929;
	background:	    #FFFFFF;
    margin-top:	    1.58em;
	margin-left:	5%;
	margin-right:	5%;
	margin-bottom:	1.58em;
	padding-top:	0;
	padding-left:	0;
	padding-right:	0;
	padding-bottom:	0;
	border-top:	    0;
	border-left:	0;
	border-bottom:	0;
	border-right:	0;
	width:	auto;
}	

/*----------------------------------------------------------------------------- 
 TITLES
------------------------------------------------------------------------------*/	
h1	{	
	font-family: Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:	.46;
	font-size:	1.80em;
	font-weight:400;
	font-style:	normal;
	text-decoration:none;
	word-spacing:normal;
	letter-spacing:normal;
	text-transform:none;
   	margin-top:	1.33em;
	margin-bottom:.33em;
	padding-top:0;
	padding-bottom:0;
	border-top:	0;
	border-bottom:0;
    color:#104E8B;
}	
		
h2	{	
	font-family: Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:.46;
	font-size:1.58em;
	font-weight:500;
	font-style:normal;
	text-decoration:none;
	word-spacing:normal;
	letter-spacing:normal;
	text-transform:none;
   	margin-top:1.75em;
	margin-bottom:.33em;
	padding-top:0;
	padding-bottom:0;
	border-top:0;
	border-bottom:0;
    color:#1874CD;
}	
		
h3	{	
	font-family:	Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:	.46;
	font-size:	1.33em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    margin-top:	1.58em;
	margin-bottom:	.33em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    color:#00A9E0;
	}	
		
h4	{	
	font-family:	Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:	.46;
	font-size:	1.17em;
	font-weight:	550;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    margin-top:	1.33em;
	margin-bottom:	.33em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    color:#292929;
	}	
		
h5, dt	{	
	font-family:	Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:	.46;
	font-size:	1em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    margin-top:	1.17em;
	margin-bottom:	.33em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	
		
h6	{	
	font-family:	Eurofurence, Arial, Helvetica, sans-serif;
	font-size-adjust:	.46;
	font-size:	0.7em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    margin-top:	1em;
	margin-bottom:	.33em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	

h1, h2, h3, h4, h5, h6 {	
	text-align:	left;
}	

/*----------------------------------------------------------------------------- 
 Paragraph and related 
------------------------------------------------------------------------------*/	
p	{	
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    text-align:	left;
}

b	{
	font-weight:	bold;
}
	
i	{
	font-style:	italic;
}

small{	
	font-size:	.92em;
}	
		
big	{	
	font-size:	2em;
}

/* Small Thematic Break */
.stb	{	
	margin-top:	2.17em;
	margin-bottom:	.75em;
	padding-top:	2.17em;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	border-style:	solid
	}	

/* Medium Thematic Break */    
.mtb	{	
	margin-top:	3.08em;
	margin-bottom:	.75em;
	padding-top:	3.08em;
	padding-bottom:	0;
	border-top:	.1em;
	border-bottom:	0;
	border-style:	solid
	}	

/* Large Thematic Break */    
.ltb	{	
	margin-top:	4.34em;
	margin-bottom:	.75em;
	padding-top:	4.34em;
	padding-bottom:	0;
	border-top:	.25em;
	border-bottom:	0;
	border-style:	solid
}	

pre	{	
	font-family:	'Monotype.com', Courier New, monospace;
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	line-height:	1.20em;
   	margin-left:	0;
	margin-right:	0;
	padding-left:	1%;
	padding-right:	1%;
	border-left:	0;
	border-right:	0;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}	

del	{	
	text-decoration:	line-through;
	background:	#F66;
}	
		
ins	{	
	text-decoration:	underline;
	background:	yellow;
}	 

em	{	
	font-style:	normal;
	font-weight:	bold;
	color:	black;
	}	
		
strong	{	
	font-style:	italic;
	font-weight:	bold;
	color:	black;
	}	
		
em strong, strong em	{	
	text-transform:	uppercase;
	font-style:	normal;
	font-weight:	bolder;
	background:	white;
	color:	red;
}

   

blockquote	{	
	margin-left:	4%;
	margin-right:	0;
	padding-left:	11%;
	padding-right:	0;
	border-left:	0;
	border-right:	0;

}	

hr	{	
	visibility:	visible;
   	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	height:	1px;
    margin-left:	0;
	margin-right:	0;
	padding-left:	11%;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
	text-align:	left;
	width:	100%;
 	color:	black;
}

/*----------------------------------------------------------------------------- 
 Links
------------------------------------------------------------------------------*/	
a:link	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	#00A9E0;
}	
		
a:visited	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	#999;
}	
		
a:active	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	#00A9E0;

}	
		
a:hover	{	
	text-decoration:	underline;
	color:	#00A9E0;

	}	
		
a.offsite	{	
	text-decoration:	none;
	font-weight:	normal;
	color:	#3b3d3d;
}	

/*----------------------------------------------------------------------------- 
 LISTS
------------------------------------------------------------------------------*/	
ol li	{	
	list-style-type:	decimal;
}	

ol ol li	{	
	list-style-type:	lower-alpha;
}	

ol ol ol li	{	
	list-style-type:	lower-roman;
}	

dt	{	
	margin-top:	0;
	margin-bottom:	0;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    margin-left:	0;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
}	
		
dd	{	
	margin-top:	0;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
   	margin-left:	4%;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;

}	
		
ul ul, ol ol, li address, li dl, li ol, li p, li ul, li dir, li hr, li menu, li pre, li h1, li h2, li h3, li h4, li h5, li h6, dd address, dd dl, dd ol, dd p, dd ul, dd dir, dd hr, dd menu, dd pre, dd h1, dd h2, dd h3, dd h4, dd h5, dd h6	{	
	margin-top:	0;
	margin-bottom:	0;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	
		
li	{	
	margin-top:	0;
	margin-bottom:	0;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    margin-left:	4%;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
	}	    
	
ul ul, ol ol, li address, li dl, li ol, li p, li ul, li dir, li hr, li menu, li pre, li h1, li h2, li h3, li h4, li h5, li h6, dd address, dd dl, dd ol, dd p, dd ul, dd dir, dd hr, dd menu, dd pre, dd h1, dd h2, dd h3, dd h4, dd h5, dd h6	{	
	margin-left:	0;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
	}

    
/*----------------------------------------------------------------------------- 
 TABLES
------------------------------------------------------------------------------*/	
caption	{	
	text-align:	left;
}

table, tbody, tr, td	{	
    text-align:left;
    vertical-align:top;
    
}	

table{

}
	
tfoot, thead	{	
	font-size:	16px;
}	
		
th	{	
	vertical-align:	middle;
	font-size:	15px;
	font-weight:	bold;
    background-color:#FF7F21;
    color:#ffffff;

}	

col, colgroup, table, tbody, td, tfoot, th, thead, tr	{	
	margin-top:	0;
	margin-bottom:	0;
    margin-left:	0;
	margin-right:	0;
	padding-top:	5;
	padding-bottom:	5;
    padding-left:	5;
	padding-right:	5;
	border-top:	2;
	border-bottom:	2;
	border-left:	5;
	border-right:	5;
    float:	none;
	clear:	none;
    border-spacing:1px;
}	
		
td, th	{	
	line-height:	normal;
}	

.compact {
    margin:	0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.centered{
    text-align:center;
}

.smallfont{
    font-size:10px;
}

.compact td {
   line-height:	16px;
   margin:	0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border: 0px 0px 0px 0px;
}

.centered td {
    text-align:center;
}

.smallfont td{
    font-size:14px;
}

		
center	{	
	margin-left:	0;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
	text-align:	left;
}	
		
/*----------------------------------------------------------------------------- 
 FORMS
------------------------------------------------------------------------------*/        
label {
    font-family: Myriad Web, Geneva, Eurofurence, Arial, Helvetica, sans-serif;
}

input.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

input.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

input.button:active {
	position:relative;
	top:1px;
}


/*----------------------------------------------------------------------------- 
 MISCELANEOUS
------------------------------------------------------------------------------*/	

a, address, blockquote, cite, code, dd, del, dfn,		
div, dl, dt, em, form, iframe, img, kbd,		
li, object, ol, p, q, samp, small, span, strong, sub, sup, ul, var, 		
applet, big, center, dir, font, hr, menu, pre,		
abbr, acronym, bdo, button, fieldset, ins, label	{	
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	text-decoration: none;
	border-color:	black;
	border-style:	none;
    margin-top:	0;
	margin-bottom:	0;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	vertical-align:	top;
    margin-left:	0;
	margin-right:	0;
	padding-left:	0;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
	text-align:	justify;
	float:	none;
	clear:	none;
	list-style-position:	outside;
}	
	
var, cite, dfn, .note	{	
	font-style:	italic;
}	

acronym, abbr	{	
	font-variant:	small-caps;
	letter-spacing:	0.1em;
    color:#86C543;
    font-weight:bold;
}	

		
address	{	
	font-style:	normal;
	letter-spacing:	.1em;
   	margin-top:	1.58em;
	margin-bottom:	1.58em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
    margin-left:	0;
	margin-right:	0;
	padding-left:	11%;
	padding-right:	0;
	border-left:	0;
	border-right:	0;

}	
		

blockquote, fieldset, form, ul, ol, dl, dir, menu	{	
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	
		
	
div, center	{	
	margin-top:	0;
	margin-bottom:	0;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
}	
		
.subhead	{	
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	
		
address, blockquote, dl, fieldset, form, ol, 		
p, ul,  dir, hr, menu, pre	{	
	margin-left:	0;
	margin-right:	0;
	padding-left:	5%;
	padding-right:	0;
	border-left:	0;
	border-right:	0;
}	


/*----------------------------------------------------------------------------- 
 SPECIAL CASES
------------------------------------------------------------------------------*/	
	
div > p:first-child, body > p:first-child, td > p:first-child	{	
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
	}	
		
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, div + p, p.initial	{	
	margin-top:	.75em;
	margin-bottom:	.75em;
	padding-top:	0;
	padding-bottom:	0;
	border-top:	0;
	border-bottom:	0;
}

.message {
	text-transform:	none;
	font-style:	normal;
	font-weight:	normal;
    -moz-box-shadow: 3px 3px 4px #3B3B3D;
    -webkit-box-shadow: 3px 3px 4px #3B3B3D;
     box-shadow: 3px 3px 4px #3B3B3D;
     margin:5px;
     padding-top: 2%;  
     padding-right: 2%;  
     padding-bottom: 2%;  
     padding-left: 2%;  
     font-family:Eurofurence;
     width:200px;
     line-height:	27px;
     text-align:center;
     vertical-align:middle;
     display: table-cell;
}	

.info	{	
	background-color:	#67CDDC;
	color:	#292929;
}	

.warning	{	
	background-color:	#FFEE6B;
	color:	#292929;
}	

.error	{	
	background-color:	#D63236;
	color:	#ffffff;
  }	

.ok {
	background-color:	#51B406;
	color:	#ffffff;
}
	
    
code{
background:#FFEE6B;
}

div.code-snippet {
    background-color:#3B3B3D;
    color:#ffffff;
    padding:10px 15px 10px 15px;
    line-height:1.2em;
}	

div code{
    color:#ffffff;
    background-color:#3B3B3D;
}


